.gallery-item-title {
	font-size: vwd(15);
	letter-spacing: vwd(1.5);
	font-weight: 500;
	text-transform: uppercase;
	color: $black;
	margin-top: 25px;
	display: block;
}

.gallery-item-title__slash {
	color: $yellow;
	font-weight: 700;
	margin-left: 40px;
}

.gallery-item-title__year {
	margin-left: 10px;
	color: $yellow;
	font-weight: 700;
}

// Mobile
@media (max-width: 576px) {
	.gallery-item-title {
		font-size: 12px;
		margin-top: 20px;
		margin-bottom: 50px;
	}

	.gallery-item-title__slash {
		margin-left: 20px;
	}
}
